USE [master]
GO
/****** Object:  Database [0c2021]    Script Date: 9/4/2016 6:16:57 PM ******/
CREATE DATABASE [0c2021]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'0c2021', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\0c2021.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'0c2021_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\0c2021_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [0c2021].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [0c2021]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkTipoDireccion] [int] NOT NULL,
	[Descripcion] [nchar](20) NOT NULL,
	[FkDireccion] [int] NULL,
 CONSTRAINT [PK_Direccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstadoDenuncia]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoDenuncia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nchar](20) NOT NULL,
 CONSTRAINT [PK_EstadoDenuncia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstadoUsuario]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nchar](10) NOT NULL,
 CONSTRAINT [PK_EstadoUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Fotos]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fotos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [image] NOT NULL,
	[FKTramite] [int] NOT NULL,
 CONSTRAINT [PK_Fotos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HashTag]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HashTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HashTah] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HashTag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HashTagXDenuncia]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HashTagXDenuncia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FKTramite] [int] NOT NULL,
	[FKHashTag] [int] NOT NULL,
 CONSTRAINT [PK_HashTagXDenuncia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localizacion]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localizacion](
	[Id] [int] NOT NULL,
	[Geolocalizacion] [geography] NOT NULL,
	[FkTramite] [int] NOT NULL,
 CONSTRAINT [PK_Localizacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolesXUsuario]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesXUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkUsuario] [int] NOT NULL,
	[FkRole] [int] NOT NULL,
	[FkEstadoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_RolesXUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono](
	[Id] [int] NOT NULL,
	[FkUsuario] [int] NOT NULL,
	[Telefono] [nchar](20) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoDireccion]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDireccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](20) NULL,
 CONSTRAINT [PK_TipoDireccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoTramite]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTramite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nchar](15) NOT NULL,
 CONSTRAINT [PK_TipoTramite] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tramite]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tramite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkDireccion] [int] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[FKTipoTramite] [int] NOT NULL,
 CONSTRAINT [PK_Tramite] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TransaccionesDenuncias]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaccionesDenuncias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FKRolXUsuario] [int] NOT NULL,
	[FKTramite] [int] NOT NULL,
	[FKEstadoDenuncia] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_TransaccionesDenuncias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/4/2016 6:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nombre] [nchar](60) NOT NULL,
	[Edad] [int] NOT NULL,
	[Cedula] [nchar](20) NOT NULL,
	[Email] [nchar](20) NOT NULL,
	[UserName] [nchar](20) NOT NULL,
	[Contrasena] [nchar](100) NOT NULL,
	[FKDireccion] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Direccion] FOREIGN KEY([FkDireccion])
REFERENCES [dbo].[Direccion] ([Id])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK_Direccion_Direccion]
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_TipoDireccion] FOREIGN KEY([FkTipoDireccion])
REFERENCES [dbo].[TipoDireccion] ([Id])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK_Direccion_TipoDireccion]
GO
ALTER TABLE [dbo].[Fotos]  WITH CHECK ADD  CONSTRAINT [FK_Fotos_Tramite] FOREIGN KEY([FKTramite])
REFERENCES [dbo].[Tramite] ([Id])
GO
ALTER TABLE [dbo].[Fotos] CHECK CONSTRAINT [FK_Fotos_Tramite]
GO
ALTER TABLE [dbo].[HashTagXDenuncia]  WITH CHECK ADD  CONSTRAINT [FK_HashTagXDenuncia_HashTag] FOREIGN KEY([FKHashTag])
REFERENCES [dbo].[HashTag] ([Id])
GO
ALTER TABLE [dbo].[HashTagXDenuncia] CHECK CONSTRAINT [FK_HashTagXDenuncia_HashTag]
GO
ALTER TABLE [dbo].[HashTagXDenuncia]  WITH CHECK ADD  CONSTRAINT [FK_HashTagXDenuncia_Tramite] FOREIGN KEY([FKTramite])
REFERENCES [dbo].[Tramite] ([Id])
GO
ALTER TABLE [dbo].[HashTagXDenuncia] CHECK CONSTRAINT [FK_HashTagXDenuncia_Tramite]
GO
ALTER TABLE [dbo].[Localizacion]  WITH CHECK ADD  CONSTRAINT [FK_Localizacion_Tramite] FOREIGN KEY([FkTramite])
REFERENCES [dbo].[Tramite] ([Id])
GO
ALTER TABLE [dbo].[Localizacion] CHECK CONSTRAINT [FK_Localizacion_Tramite]
GO
ALTER TABLE [dbo].[RolesXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RolesXUsuario_EstadoUsuario] FOREIGN KEY([FkEstadoUsuario])
REFERENCES [dbo].[EstadoUsuario] ([Id])
GO
ALTER TABLE [dbo].[RolesXUsuario] CHECK CONSTRAINT [FK_RolesXUsuario_EstadoUsuario]
GO
ALTER TABLE [dbo].[RolesXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RolesXUsuario_Roles] FOREIGN KEY([FkRole])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RolesXUsuario] CHECK CONSTRAINT [FK_RolesXUsuario_Roles]
GO
ALTER TABLE [dbo].[RolesXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RolesXUsuario_Usuarios] FOREIGN KEY([FkUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[RolesXUsuario] CHECK CONSTRAINT [FK_RolesXUsuario_Usuarios]
GO
ALTER TABLE [dbo].[Telefono]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Usuarios] FOREIGN KEY([FkUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Telefono] CHECK CONSTRAINT [FK_Telefono_Usuarios]
GO
ALTER TABLE [dbo].[Tramite]  WITH CHECK ADD  CONSTRAINT [FK_Tramite_Direccion] FOREIGN KEY([FkDireccion])
REFERENCES [dbo].[Direccion] ([Id])
GO
ALTER TABLE [dbo].[Tramite] CHECK CONSTRAINT [FK_Tramite_Direccion]
GO
ALTER TABLE [dbo].[Tramite]  WITH CHECK ADD  CONSTRAINT [FK_Tramite_TipoTramite] FOREIGN KEY([FKTipoTramite])
REFERENCES [dbo].[TipoTramite] ([Id])
GO
ALTER TABLE [dbo].[Tramite] CHECK CONSTRAINT [FK_Tramite_TipoTramite]
GO
ALTER TABLE [dbo].[TransaccionesDenuncias]  WITH CHECK ADD  CONSTRAINT [FK_TransaccionesDenuncias_EstadoDenuncia] FOREIGN KEY([FKEstadoDenuncia])
REFERENCES [dbo].[EstadoDenuncia] ([Id])
GO
ALTER TABLE [dbo].[TransaccionesDenuncias] CHECK CONSTRAINT [FK_TransaccionesDenuncias_EstadoDenuncia]
GO
ALTER TABLE [dbo].[TransaccionesDenuncias]  WITH CHECK ADD  CONSTRAINT [FK_TransaccionesDenuncias_Tramite] FOREIGN KEY([FKTramite])
REFERENCES [dbo].[Tramite] ([Id])
GO
ALTER TABLE [dbo].[TransaccionesDenuncias] CHECK CONSTRAINT [FK_TransaccionesDenuncias_Tramite]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Direccion] FOREIGN KEY([FKDireccion])
REFERENCES [dbo].[Direccion] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Direccion]
GO
USE [master]
GO
